@if (TempData["success"] != null)
{
    // You can use toastr js alternatively.
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p>@TempData["success"]</p>
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p>@TempData["error"]</p>
    </div>
}

