@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Game Shop</h1>
    <h4>Discover more great games</h4>
    <p>
        No matter what kind of video game you're looking for – <b>GameShop</b> has it! 
        Drop into an epic battle royale where legendary competitors battle for glory, fame, and fortune on the fringes of the Frontier 
        in Apex Legends™. Experience the action and authenticity of football when you hit the pitch in EA SPORTS FC. 
        Unleash your imagination and create a world that’s wholly unique in The Sims. 
        There are tons more titles to choose from in every popular genre, from shooters to racing games and RPGs.
    </p>
    <p>
        And don’t forget, your digital game purchases are protected by our Great Game Guarantee.
    </p>
</div>
